{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Admin Dashboard</title>
	<link rel="stylesheet" type="text/css" href="{% static 'wadmin/css/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<section>
	<div class="sidebar">
		<h1 class="logo">ADMIN </h1>

		<ul class="nav">
			<li><a href="/wadmin/"><i class="fa fa-windows"></i> Dashboard</a></li>
`
			<li class=""><a href="/photographer/">PHOTOGRAPHER</a></li>
`			<li class=""><a href="/aduitorium/">AUDITORIUM OWNERS</a></li>
			<li class=""><a href="/cabowners/">CAB OWNERS</a></li>
			<li class=""><a href="/catering/">CATERING SERVICE</a></li>
			<li class=""><a href="/emangemant/">EVENT MANAGEMENT</a></li>
			<li class=""><a href="/blocked/">BLOCKED USER</a></li>

		</ul>




	</div>
	<div class="main">

		<div class="head-section">
			<div class="col-6">
				<h2>{{name}}</h2>
				<p>Count {{len }}</p>
			</div>

			<div class="col-6" style="text-align: right;">
				<i class="fa fa-bell-o hicon"></i>
				<input type="text" class="search">
				<i class="fa fa-search hicon sicon"></i>

				<img src="image/user.png" class="user">

				<div class="profile-div">
					<p><i class="fa fa-user"></i>   Profile</p>
					<p><i class="fa fa-cog"></i> <a href="/changepasss/">change password</a></p>
					<p><i class="fa fa-power-off"><a href="/">Log Out</a></i>   </p>
				</div>

		<div class="notification-div">
			<p>Success!Your registration is now complete!</p>
			<p>Here's some information you may find useful!</p>
		</div>

			</div>

			<div class="clearfix"></div>
		</div>

		<br><br>
		<div class="content">
			<p>user requests</p><br><br>


			<table>

  <thead>
    <tr>
      <th scope="col" 	style=" width:1pc;" >ID</th>
      <th scope="col" style=" width:4pc;" >Cname</th>
      <th scope="col"  style=" width:8pc;">Address</th>
      <th scope="col" style=" width:4pc;" >contact</th>
      <th scope="col" style=" width:10pc;"  >email</th>
		<th scope="col"  style="width:4pc ;"colspan="2" > status</th>
    </tr>
  </thead>
  <tbody>
  {%for i in de %}
    <tr>
      <td data-label="Account">{{i.id}}</td>
      <td data-label="Due Date">{{i.namecu}}</td>
      <td data-label="Amount">{{i.Add}}</td>
      <td data-label="Due Date">{{i.pnum}}</td>
        <td data-label="Period">{{i.email}}</td>

		<td data-label="Amount" style="position: relative;">
				<ul style=" lex-direction: row;
    display: flex;
    gap: 14px;
     list-style-type: none;
    text-decoration: none;">
				<li><a href="/rej/{{i.id}}">Reject</a></li>
				<li><a href="/acc/{{i.id}}">Accept</a></li>
				</ul>
		</td>

    </tr>
  {% endfor %}


  </tbody>
</table>
		</div>



	</div>
</section>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
  $(".user").click(function(){
    $(".profile-div").toggle(1000);
  });
  $(".hicon:nth-child(1)").click(function(){
    $(".notification-div").toggle(1000);
  });
  $(".sicon").click(function(){
    $(".search").toggle(1000);
  });
});
</script>

<script type="text/javascript">
	$('li').click(function(){
    $('li').removeClass("active");
    $(this).addClass("active");
});




</script>
</body>
</html>